
<div class='bossOverlay'>
  <style>
    .slide-right {
  animation-duration: {{animationDuration}}s;
  animation-name:  slide-right;
}

.slide-left { 
  animation-duration: {{animationDuration}}s;
  animation-name:  slide-left;
}
  </style>
  <div class="actorArt">
  <img name="actorImg" class="slide-left" src="{{actorImg}}"> 
  </div>
  <div class='colorBand'>
    <div class='colorFirst' style="background-color: {{colorFirst}}">
          <h2 name="bossMessage" class="slide-right" style="color: {{colorFont}}; text-shadow: 3px 3px {{colorShadow}}; font-family: {{fontFamily}}; font-size: {{fontSize}}">
          {{message}}
          </h2>
    </div>
    <div class='colorSecond' style="background-color: {{colorSecond}}">
          <h3 name="bossSubText" class="slide-right" style="color: {{subColorFont}}; text-shadow: 3px 3px {{subColorShadow}}; font-family: {{fontFamily}}; font-size: {{subFontSize}}">
          {{subText}}
          </h3>
    </div>
    <div class='colorThird'  style="background-color: {{colorThird}}"></div>
  </div>
</div>