
<div class='bossOverlay'>
  <div class="actorArt">
  <img src="{{actorImg}}"> 
  </div>
  <div class='colorBand'>
    <div class='colorFirst' style="background-color: {{colorFirst}}">
          <h2>
          {{actorName}}
          </h2>
    </div>
    <div class='colorSecond' style="background-color: {{colorSecond}}"></div>
    <div class='colorThird'  style="background-color: {{colorThird}}"></div>
  </div>
</div>